PORT=
UNI_DATABASE_PATH=
UNI_ALLOW_SYNTHETIC_SEED=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
UNI_ADMIN_USER_IDS=
UNI_SERVICE_KEY=
UNI_WEBHOOK_SECRET=
UNI_WEBHOOK_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_UNI_API_URL=
VITE_MORSHIDI_URL=
UNI_API_URL=
